.card {
  width: 300px;
  height: 400px;
  margin-top: 10px;
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: auto;
  margin-right: auto;
}
.Card__h4 {
  font-size: 15px;
}
.Card__p {
  font-size: 15px;
}
.Card__Button {
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.card__image {
  height: 200px;
  width: 300px;
}
.selected {
  text-decoration: line-through;
}
.helllo {
  display: flex;
}
.CARD___h5 {
  margin-left: 20px;
}
.loader {
  margin: auto;
  margin-top: 200px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
