.Sdcomponent {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  align-content: center;
  height: 20px;
}

.Sdcomponent > .sdcomponent__text {
  flex: 1;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}

.Sdcomponent > .Sdcomponent__icon {
  width: 25px;
  height: 25px;
  color: #606060;
  justify-content: center;
}
.Sdcomponent:hover > .sdcomponent__text {
  font-weight: 800;
  width: 25px !important;
  height: 25px !important;
}

.Sdcomponent:hover > .Sdcomponent__icon {
  color: red;
  width: 30px;
  height: 30px;
  align-items: center;
}
.Sdcomponent:hover {
  /* background-color: yellow; */
  cursor: pointer;
}
