.sidebar {
  margin-top: 10px;
}
.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
}
.carousel {
  background-color: #f9f9f9;
  padding: 50px 20px;
  padding-bottom: 0;
  margin-top: 20px;
}
.sidebar__h3 {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 20px;
  margin-left: 15px;
}
