.OneButtom {
  margin: 20px 20px;
}
.btn {
  width: 150px;
  border-radius: 20px;
}
.btn:after {
  content: "\00bb";
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
